.App {
  text-align: center;
}

img {
  object-fit: cover;
  width: 100%;
}

label#search {
  padding-right: 1rem;
}

div.rate {
  text-align: left;
}

div.comments {
  text-align: left;
}

div.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

div.card:hover {
  border: solid 1px gray;
  padding: 2px;
  cursor: pointer;
}

div.my-1.col-lg-3.col-md-4.col-6 {
  padding: 0.2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
